html {
  scroll-behavior: smooth;
}

h1  {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

th {
  font-size: clamp(1rem, 2.5vw, 2rem); 
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;}

div, td {
  font-size: clamp(0.5rem, 1.5vw, 1rem); 
  font-family: 'Open Sans', sans-serif;
}

.nav_button_link {
  margin-left: 10px;
}

#background {
  width: auto;
  height: 90vh;
  object-fit: cover;
}

#content {
  background-color: #ffe8cf;
  margin: auto;
}

#landing_title {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
}

#about_me {
  background-color: #142221;
  color: white;
  height: 90vh;
  padding-top: 10vh;
}

#profile_pic {
  width: auto;
  height: 45vh;
}

#tech_skills {
  color:#142221;
  height: 90vh;
  padding-top: 10vh;
}


#projects {
  background-color: #142221;
  padding-top: 10vh;
}

#projects_title {
  color: white
}

.card-title {
  font-family: 'Noto Serif', serif;
}

/* Loading HTML */

#loader_container {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}