html {
  scroll-behavior: smooth;
}

div, th, td {
  font-size: large;
}

#background {
  width: auto;
  height: 90vh;
  object-fit: cover;
}

#content {
  background-color: #ffe8cf;
  margin: auto;
}

#about_me {
  background-color: #142221;
  color: white;
  height: 90vh;
  /* position: relative; */
}

#about_me_child {
  /* display: flex; */
  justify-content: center;
  align-items: center;
 
}

#profile_pic {
  width: auto;
  height: 50vh;
}

#tech_skills {
  height: 90vh;
  color:black;
}


#projects {
  background-color: #142221;
  height: 90vh;
}
