html {
  scroll-behavior: smooth;
}

#background {
  width: auto; /* width of container */
  height: 90vh; /* height of container */
  object-fit: cover;
}

#content {
  color: white;
  
  margin: auto;
  /* padding-right: 5vw;
  padding-left: 5vw; */
}

#about_me {
  background-color: #204e4a;
  color: white;
  height: 70vh;
}

#about_me_text {
  margin: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

#profile_pic {
  width: auto;
  height: 50vh;
}

#tech_skills {
  /* margin: 10vh; */
}

#projects {
  /* margin: 10vh; */
}
